html {
  padding: 8px;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.mainGrid {
  height: 100%;
  display: grid;
  grid-template-rows: 2em auto;
}

.pdfViewer {
  height: 100%;
  width: 100%;
}

/* toolbar */

.toolbar > * {
  display: inline-block;
}
